# Traffic microsimulation scenario
name = default_single_intersection
north_south_green_seconds = 12
east_west_green_seconds = 12
yellow_seconds = 3
spawn_probability = 0.32
spawn_interval_seconds = 0.2
queue_speed_threshold = 2
wait_speed_threshold = 1.5
reaction_time_min_seconds = 0.2
reaction_time_max_seconds = 0.8
random_seed = 1337
yellow.commit_min_time_to_stop_line_seconds = 1.0
yellow.commit_min_distance_after_stop_line = 0.0
yellow.comfortable_braking_buffer_meters = 2.0
queue.queue_join_speed_threshold = 2.0
queue.queue_release_speed_threshold = 3.0
queue.queue_following_gap_meters = 14.0
queue.approach_detection_distance = 220
demand.north.demand_weight = 1.0
demand.south.demand_weight = 1.0
demand.east.demand_weight = 1.0
demand.west.demand_weight = 1.0
demand.north.spawn_probability_multiplier = 1.0
demand.south.spawn_probability_multiplier = 1.0
demand.east.spawn_probability_multiplier = 1.0
demand.west.spawn_probability_multiplier = 1.0
demand.north.min_headway_seconds = 1.2
demand.south.min_headway_seconds = 1.2
demand.east.min_headway_seconds = 1.2
demand.west.min_headway_seconds = 1.2
demand.north.target_headway_seconds = 2.1
demand.south.target_headway_seconds = 2.1
demand.east.target_headway_seconds = 2.4
demand.west.target_headway_seconds = 2.4
demand.north.motorcycle_share = 0.2
demand.south.motorcycle_share = 0.2
demand.east.motorcycle_share = 0.2
demand.west.motorcycle_share = 0.2
demand.north.truck_share = 0.1
demand.south.truck_share = 0.1
demand.east.truck_share = 0.1
demand.west.truck_share = 0.1
geometry.center.x = 480
geometry.center.y = 360
geometry.road_width = 180
geometry.lane_width = 60
geometry.stop_line_distance = 90
geometry.queue_distance = 220
geometry.center_size = 120
